body {
    background-color: rgba(158, 218, 210, 0.466);
    box-sizing: border-box;
}
.site_name {
    color: rgb(145, 122, 101);
}
footer {
    background-color: rgb(101, 195, 202);
    text-align: center;

}